<h3>Endereço</h3>
<div class="row">
    <div class="col-md-2" [formGroup]="enderecoGroup">
        <input-container label="Cep" errorMensage="Campo obrigátorio">
            <input type="text"
                   formControlName="cep"
                   class="form-control"
                   placeholder="Cep"
                   (blur)="GetEndereco($event.target.value)">
        </input-container>
    </div>
    <div class="col-md-10" [formGroup]="enderecoGroup">
        <input-container label="Rua" errorMensage="Campo obrigátorio">
            <input type="text"
                   formControlName="logradouro"
                   class="form-control"
                   placeholder="Logradouro" />
        </input-container>
    </div>
</div>
<div class="row">
    <div class="col-md-4" [formGroup]="enderecoGroup">
        <input-container label="Bairro" errorMensage="Campo obrigátorio">
            <input type="text"
                   formControlName="bairro"
                   class="form-control"
                   placeholder="Bairro" />
        </input-container>
    </div>
    <div class="col-md-4" [formGroup]="enderecoGroup">
        <input-container label="Cidade" errorMensage="Campo obrigátorio">
            <input type="text"
                   formControlName="localidade"
                   class="form-control"
                   placeholder="Cidade" />
        </input-container>
    </div>
    <div class="col-md-4">
        <div class="form-group" [formGroup]="enderecoGroup">
            <label for="exampleInputComplemento">Complemento</label>
            <input type="text"
                   formControlName="complemento"
                   class="form-control"
                   placeholder="Complemento">
        </div>
    </div>
</div>
