
<form [formGroup]="usuarioForm" novalidate>
    <div class="container-fluid">
        <h3>Editar Pessoa</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo</label>
                        <select formControlName="tipoPessoa" class="form-control">
                            <option value="1" selected>Juridica</option>
                            <option value="2">Fisica</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputNome">Nome</label>
                        <input type="text"
                               formControlName="nome"
                               class="form-control "
                               placeholder="Nome"
                               [value]=pessoa?.nome/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputSobrenome">Sobre Nome</label>
                        <input type="text"
                               formControlName="sobreNome"
                               class="form-control"
                               placeholder="Segundo Nome"
                               [value]=pessoa?.sobreNome />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input type="email"
                               formControlName="emailAdress"
                               class="form-control is-invalid"
                               placeholder="Email"
                               [value]="pessoa?.emailAdress">
                        <span class="help-block">
                            <i class="btn-default fa"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <endereco [enderecoGroup]=usuarioForm [endereco]=pessoa?.endereco></endereco>
            </div>
        </div>
        <button type="submit"
                class="btn btn-primary"
                (click)="EditarPessoa(usuarioForm.value)"
                [disabled]=!usuarioForm.valid>
            Enviar
        </button>
    </div>
</form>
