<form [formGroup]="usuarioForm" novalidate>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="alert alert-danger" role="alert" *ngIf="erros">
                    <ul *ngFor="let item of erros">
                        <li>{{item.errorMessage}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo</label>
                        <select formControlName="tipoPessoa" class="form-control">
                            <option value="1" selected>Juridica</option>
                            <option value="2">Fisica</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         [class.has-error]=" usuarioForm.get('nome').invalid && (usuarioForm.get('nome').dirty || usuarioForm.get('nome').touched)"
                         [class.has-success]="usuarioForm.get('nome').valid && (usuarioForm.get('nome').dirty || usuarioForm.get('nome').touched)">
                        <label for="exampleInputNome">Nome</label>
                        <input type="text"
                               formControlName="nome"
                               class="form-control "
                               placeholder="Nome" 
                               />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         [class.has-error]=" usuarioForm.get('sobreNome').invalid && (usuarioForm.get('sobreNome').dirty || usuarioForm.get('sobreNome').touched)"
                         [class.has-success]="usuarioForm.get('sobreNome').valid && (usuarioForm.get('sobreNome').dirty || usuarioForm.get('sobreNome').touched)">
                        <label for="exampleInputSobrenome">Sobre Nome</label>
                        <input type="text"
                               formControlName="sobreNome"
                               class="form-control"
                               placeholder="Segundo Nome" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group"
                         [class.has-error]=" usuarioForm.get('emailAdress').invalid && (usuarioForm.get('emailAdress').dirty || usuarioForm.get('emailAdress').touched)"
                         [class.has-success]="usuarioForm.get('emailAdress').valid && (usuarioForm.get('emailAdress').dirty || usuarioForm.get('emailAdress').touched)">
                        <label for="exampleInputEmail">Email</label>
                        <input type="email"
                               formControlName="emailAdress"
                               class="form-control is-invalid"
                               placeholder="Email">
                        <span class="help-block">
                            <i class="btn-default fa"></i>
                        </span>
                    </div>
                </div>
            </div>

            <endereco [enderecoGroup]=usuarioForm></endereco>

            <button type="submit"
                    class="btn btn-default"
                   (click)="InsereUsuario(usuarioForm.value)"
                   [disabled]="!usuarioForm.valid">
                Enviar
            </button>
        </div>
    </div>
</form>